{%extends 'main.html'%} {%block content%}

<style>
    form[type='text'],
    input[type='email'],
    input[type='password'] {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 48px;
        border: 2px solid #eee;
        border-radius: 10px;
        width: 100%;
    }

    input[type='text']:focus,
    input[type='email']:focus,
    input[type='password']:focus,
    input[type='text']:active,
    input[type='email']:active,
    input[type='password']:active {
        box-shadow: none;
        border: 2px solid #06BBCC
    }
</style>

  <body style="background-color: #eee">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="register_Card" style="border-radius: 15px; width: 633.66px;">
              <div class="card-body p-5 ">

                <form method="post" class="form " >
                    {% csrf_token %}
                    <h3>Password reset</h3>
                    <p>
                      Forgotten your password? Enter your email address below, and we’ll email
                      instructions for setting a new one.
                    </p>
                   
                    {{form.as_p}}
                    
                    <button type="submit" value="submit" class="btn btn-primary btn-block form__button">                      
                     Submit</button>                   
                   
                </form>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

{%endblock%}