{%extends 'main.html'%} {%block content%}

  <body style="background-color: #eee">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="register_Card" style="border-radius: 15px; width: 633.66px;">
              <div class="card-body p-5 ">

                
                    <h3>Password reset sent</h3>
                    <p>
                        We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                    </p>
                   
                    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
              
                  </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

{%endblock%}