{%load static%}

<nav
  class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0"
>
  <a
    href="{%url 'home'%}"
    class="navbar-brand d-flex align-items-center px-4 px-lg-5"
  >
    <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>E-Learning</h2>
  </a>
  <button
    type="button"
    class="navbar-toggler me-4"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a href="{%url 'home'%}" class="nav-item nav-link active">Home</a>
      
      <a href="{% url 'courses' %}" class="nav-item nav-link">Courses</a>
      <div class="nav-item dropdown">
        <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
          >Category</a
        >
        
        <div class="dropdown-menu fade-down m-0">
          {% for category in  categories %}
          <a href="{%url 'category' category.id  %}" class="dropdown-item">{{ category.title }}</a>
          {% endfor %}
        </div>
      </div>
      {%if request.user.is_authenticated %}
      <a href="{%url 'account'%}" class="nav-item nav-link">My Account</a>
      {%endif%}
      <a href="{%url 'inbox'%}" class="nav-item nav-link">Inbox</a>
      {%if request.user.profile.is_teacher == True%}
      <a href="{% url 'createcourse' %}" class="nav-item nav-link"
        >Add Course</a
      >
    </div>
    {%endif%} {%if request.user.is_authenticated %}
    <a
      href="{%url 'logout' %}"
      class="btn btn-primary py-4 px-lg-5 d-none d-lg-block"
      >Logout<i class="fa fa-arrow-right ms-3"></i
    ></a>
    {%else%}
    <a
      href="{%url 'login' %}"
      class="btn btn-primary py-4 px-lg-5 d-none d-lg-block"
      >Login<i class="fa fa-arrow-right ms-3"></i
    ></a>
    {%endif%}
  </div>
</nav>
